.faulty-terminal-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.faulty-terminal-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}
